legend{
    text-align: left;
    box-sizing: border-box;
    border:1px solid;
    font-size: 2em;
    padding: 10px;
    background-color: white;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Arial", "Helvetica", sans-serif;
    line-height: 1.5;
    text-align: left;
}

form {
    margin: 2rem;
}

.box {
   margin: 0 0 1rem 0; 
}

fieldset {
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: #F5F5F5;
}

label {
    display: block;
}

input[type="text"] {
    font-family: "Arial", "Helvetica", sans-serif;
    border: 1px solid #ddd;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
}

input[type="button" i] {
    height: 2em;
    width: 100%;
    box-shadow: blue;
    font-size: 1.5em;
    color: white;
    border-radius: 10px;
    background-color: #6495ED;
}




/*DESKTOP VERSION*/

@media screen and (min-width: 25rem) {
    form {
        padding: 2rem 4rem;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .box:nth-child(2),
    .box:nth-child(3) {
        width: 45%;
        float: left;
    }

    .box:nth-child(3) {
    	padding-left: 1em;
    	width: 55%;
    }

    .box:nth-child(4) {
        clear: both;
    }

    #submit-button {
        width: auto;
        padding: 0 2rem;
    }

}
